/* Adjustments for Mobile */
/* Ensure proper scaling of the webpage on different devices */
html {
    font-size: 16px;
  }

  /* CSS for navigation buttons */
div.navigation-container button {
  padding: 20px 40px; /* Increase padding for bigger buttons */
  font-size: 20px; /* Increase font size for better readability */
  margin-left: 10px; /* Add some margin between buttons */
  background-color: #8D8741;
  color: white;
}
  
  /* Set a maximum width for better readability on mobile */
  .content-container {
    max-width: 400px;
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the content */
  }
  
  /* Adjust padding and margin for game instructions */
  #ins {
    margin-bottom: 20px;
  }
  
  /* Ensure game grid fits within the container */
  .ui {
    width: 100%;
  }
  
  /* Adjust cell size for better fit on mobile */
  .cell {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
  
  /* Adjust reset button size for better fit on mobile */
  #but {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }
  
  /* Ensure buttons are displayed side by side */
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Ensure button spans full width on mobile */
  button {
    flex: 1; /* Each button takes equal space */
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 0; /* Remove left margin */
    background-color: #8D8741; /* Keep button color */
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s; /* Add smooth transition for the transform property */
    border-radius: 10px; /* round corners */
  }
  
  /* Hover effect for buttons */
  button:hover {
    background-color: #659DBD; /* Keep hover color */
    transform: scale(1.25); /* Grow the button by 25% */
  }
  
  /* Background image and color */
  body {
    background-color: #DAAD86;
    background-image: url('Images/Mountains.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* style hamburger button */
.hamburger-button {
  background-color: #333;
  color:white;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* style navigation links */
.nav-links {
  display: none;
  background-color: #333;
  color: white;
}

.nav-links a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #111;
}